body {
    background-color: rgb(183, 236, 228);
    width: auto;
    border: 10px solid rgb(137, 181, 238);
    padding: auto;
    margin: auto;
} 
@-ms-viewport {
    width: device-width ;
    zoom: 1.0 ;
}


@media only screen and (max-width: 480px), 
   only screen and (max-device-width: 480px) {
       img {
           width: 50%;
       }
   }
ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
}

 .title {
 background-color: rgb(214, 247, 242); 
 font-size: 5vw;
 text-align: center;
 border-radius: 10px;
 padding: auto; 
 width: 75%;
 height: 80px;
 margin-left: auto;
 margin-right: auto;
 }
 .stuff { 
 font-size: 200%; 
 text-align: center;
 }
 .list {
 background-image: url("images/italianherb.jpeg");
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 75%;
 height: 75%;
 font-size: 5vw;
 border-radius: 25%;
 text-align: center;
 
 }
 .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: fit-content;
     height: fit-content;
     border-radius: 25%;
 }
