
    h1 {
    background-color: rgb(67, 156, 67); 
    font-size: 300%;
    text-align: center;
    }
    h2 { 
    font-size: 200%; 
    text-align: center;
    }
    h3 {
    background-image: url("images/italianherb.jpeg");
    font-size: 300%;
    text-align: center;
    }
